@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  font-family: 'Inter', sans-serif;
}

.organizers {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  max-width: 1580px;
  margin-top: 160px;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 1600px) {
    padding: 0 20px;
  }
}

.organizers_h2 {
  font-size: 72px;
  text-transform: uppercase;
  height: 200px;
}

@media (max-width:698px) {
  .organizers_h2 {
    font-size: 52px;
    text-transform: uppercase;
    text-align: center;
  }
}

@media (max-width:420px) {
  .organizers_h2 {
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
  }
}

/* Гриды */
.organizers_grid__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;

  @media (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

.organizers_grid_container__item-grid {
  border: 1px solid black;
  border-radius: 30px;
  position: relative;

}

.item-big-white {
  position: relative;
  border: 1px solid black;
  grid-column: 1/3;
  border-radius: 30px;
}

.item-big-black {
  border: 1px solid black;
  grid-row: 2/3;
  grid-column: 3/5;
  border-radius: 30px;
  background-color: black;
  color: white;
  position: relative;

  @media (max-width: 1200px) {
    grid-row: 4/5;
    grid-column: 1/3;
  }
}

/* Это было сложно. Два дня потратил на гриды */
/* Оформление деталей в гридах */
.organizers_grid__container__img {
  border: 1px solid black;
  border-radius: 50%;
  width: 165px;
  height: 180px;
}

.item-big-white__flex-container {
  display: flex;
  margin-top: 30px;
}

.item-big-white__flex-container p {
  margin-left: 80px;
}

.organizers_grid__container__img_vector {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 30px;
  bottom: 30px;
}

.item-big-white,
.organizers_grid_container__item-grid {
  padding-top: 35px;
  padding-left: 25px;
  padding-bottom: 25px;
  position: relative;
}

.item-big-white,
.organizers_grid_container__item-grid h3 {
  padding-bottom: 10px;
}

.item-big-white,
.organizers_grid_container__item-grid,
.item-big-white {
  font-size: 18px;
}

.flexbox_in_item-grid {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.item-grid_vector__img {
  position: absolute;
  right: 30px;
  bottom: 30px;
}

.item-big-white h3 {
  padding-bottom: 15px;
}

.item-big-black_flex {
  width: 430px;
  height: 110px;
  margin-left: 25px;
  margin-top: 75px;
}

.item-big-black__p {
  font-size: 28px;
}

.item-big-black__button {
  position: absolute;
  bottom: 30px;
  left: 25px;
  display: flex;
  width: 216px;
  height: 40px;
  border-radius: 40px;
  border: 1px solid black;
  /* Выравнивание по горизонтали */
  justify-content: center;
  /* Выравнивание по вертикали */
  align-items: center;
  cursor: pointer;
}

.item-big-black__button:hover {
  background-color: #C0C0C0;
}